<h1>Eventos</h1>

<label>Este projeto tem a ideia de passar o meu conhecimento em programação, estou colocando os cadastros e as consultas visualmente de como poderia ficar se eu tivesse mais conhecimento, vocês podem visualizar isso na Navbar ou vendo por aqui !</label>

  <div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button type="button" class="btn btn-secondary float-left" [routerLink]="['/fetch-data']">Cadastrar</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-dark float-right" [routerLink]="['/counter']" >Consultar</button>
      </div>
    </div>
  </div>
