<h1>Consultas</h1>

<h2>Individuos:</h2>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Sala</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Joao</td>
      <td>Henrique</td>
      <td>A1</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Andressa</td>
      <td>Santos</td>
      <td>A3</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Vinicius</td>
      <td>Soares</td>
      <td>A2</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Guilherme</td>
      <td>Behring</td>
      <td>A1</td>
    </tr>
  </tbody>
</table>

<h2>Salas:</h2>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Lotação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A1</td>
      <td>20</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>A2</td>
      <td>16</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>A6</td>
      <td>35</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>A3</td>
      <td>17</td>
    </tr>
  </tbody>
</table>

<h2>Café:</h2>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Espaço:</th>
      <th>Hora:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sala A2</td>
      <td>18:30</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Sala A1</td>
      <td>18:00</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Sala A3</td>
      <td>16:00</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Sala A4</td>
      <td>15:00</td>
    </tr>
  </tbody>
</table>

