<h1><strong>Cadastros</strong></h1>
<br />

<div>
  <h3>Individuos</h3>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome:</label>
    <input type="text" class="form-control"  placeholder="Primeiro nome">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sobrenome:</label>
    <input type="text" class="form-control"  placeholder="Sobrenome Completo">
  </div>




  <div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button type="button" class="btn btn-secondary float-left" [routerLink]="['/fetch-data']">Cadastrar</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info float-right" [routerLink]="['/counter']" >Consultar</button>
      </div>
    </div>
  </div>

</div>

<div>
  <h3>Salas</h3>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome:</label>
    <input type="text" class="form-control"  placeholder="Nome das salas">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Lotação:</label>
    <input type="number" class="form-control">
  </div>




  <div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button type="button" class="btn btn-secondary float-left" [routerLink]="['/fetch-data']" >Cadastrar</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info float-right" [routerLink]="['/counter']">Consultar</button>
      </div>
    </div>
  </div>

</div>

<div>
  <h3>Café</h3>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome:</label>
    <input type="text" class="form-control" placeholder="Espaço">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Hora</label>
    <input type="time" class="form-control">
  </div>




  <div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button type="button" class="btn btn-secondary float-left" [routerLink]="['/fetch-data']">Cadastrar</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info float-right" [routerLink]="['/counter']" >Consultar</button>
      </div>
    </div>
  </div>

</div>

<br />
<br />



